/* .app {
  display: flex;
  height: 100vh;
}

.content {
  background-color: #f0f0f0;
  width: 80%;
  padding: 20px;
}

.scene {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
} */
/* App.css */

.app {
  display: flex;
}

.content {
  width: 80%; /* Remaining width after the sidebar */
  padding: 20px;
  box-sizing: border-box;
}
