/* .dashboard {
  background-color: #f0f0f0;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #b2fab4;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 25%;
}

.card h2 {
  margin: 0;
}

.card p {
  font-size: 24px;
  margin-top: 10px;
} */
.dashboard {
  background-color: #f0f0f0;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #b2fab4;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 25%;
}

.card h2 {
  margin: 0;
}

.card p {
  font-size: 24px;
  margin-top: 10px;
}
